- hosts: ec2
  become: true

  vars : 
    global_venv : /home/ubuntu/.venvs/global

  tasks:
    - name: Ping localhost
      ping:

    - name : Rollback Nginx
      ansible.builtin.include_tasks:
        file : rollback-provision-steps/rollback-nginx.yml
    
    - name: Rollback Git
      ansible.builtin.include_tasks:
        file : rollback-provision-steps/rollback-git.yml

    - name: Remove global virtual environment
      file:
        path: "{{ global_venv }}"
        state: absent
    
    - name : Remove Docker 
      ansible.builtin.include_tasks:
        file: rollback-provision-steps/rollback-docker.yml

    - name : Remove the git repo
      ansible.builtin.include_tasks:
        file: rollback-provision-steps/rollback-git-clone-repo.yml
    
    - name: Remove the Repo setup
      ansible.builtin.include_tasks:
        file: rollback-provision-steps/rollback-setup-repo.yml

    - name: Clean up space
      ansible.builtin.include_tasks:
        file: rollback-provision-steps/clean-space.yml

    - name: Run the ufw setup
      ansible.builtin.include_tasks:
        file: rollback-provision-steps/ufw-reset.yml
    



    
